# Dependency directory
node_modules/

# Production build folder
build/
.docusaurus/

# Debug log from npm
npm-debug.log*

# Yarn error logs
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# IDE-specific files and folders
.idea/
*.iml
.vscode/
*.sublime-workspace

# Misc
*.log
*.sass-cache
*.lock

# Environment Variables
.env
.env.local
